          <div class="news">
            {% if site.news != blank -%}
            {%- assign news_size = site.news | size -%}
            <div class="table-responsive" {% if include.limit and site.announcements.scrollable and news_size > 3 %}style="max-height: 60vw"{% endif %}>
              <table class="table table-sm table-borderless">
              {%- assign news = site.news | reverse -%}
              {% assign displayed_news = 0 %}
              {% for item in news %}
                {% unless item.homepage == false %}
                {% if include.limit and site.announcements.limit and displayed_news >= site.announcements.limit %}{% break %}{% endif %}
                <tr>
                  <th scope="row" class="news-date">{{ item.date | date: "%b %Y" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
                {% assign displayed_news = displayed_news | plus: 1 %}
                {% endunless %}
              {%- endfor %}
              </table>
            </div>
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div>
